<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> 
    <style>
      body, html {
        height: 100%;
        margin: 0;
        overflow: auto;
      }

      #carouselExampleCaptions {
        height: 100vh; 
      }

      #carouselExampleCaptions img {
        object-fit: cover; 
        height: 100%; 
      }

      .profile-picture {
      max-width: 40px;
      height: auto;
      border-radius: 50%;
      }
    </style>  
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="color: black">
      <div class="container-fluid">
        <a class="navbar-brand">
          <i class="bi bi-film"></i>
          <span style="font-family: Impact;">MAGIC</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('customer_login.my_dashboard')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About More
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Gift card</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Promotion</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <div class="input-group">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
            </div>
          </form>
            <div class="nav-item dropdown text-body-secondary link-light ms-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- change new path -->
                  <img src="static/images/customer1-01.png" alt="Profile Picture" class="profile-picture" style="border: 1px solid white;">
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="{{ url_for('customer_login.customer_profile')}}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Bookings</a></li>
                <li><a class="dropdown-item" href="#">Gift Card</a></li>
                <li><a class="dropdown-item" href="#">Promotion</a></li>
              </ul>
            </div>
            <a href="{{ url_for('home.logout')}}" class="btn btn-outline-light btn-light btn-dark ms-2 me-2" type="submit">Logout</a>
        </div>
      </div>
    </nav>
    
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
           <!--image change new path -->
          <img src="static/images/landingp1.jpg" class="d-block w-100" alt="Movie Image1" style="width: 1200px; height: 480px;">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
           <!--image change new path -->
          <img src="static/images/landingp2.jpg" class="d-block w-100" alt="Movie Image2" style="width: 1200px; height: 480px;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
           <!--image change new path -->
          <img src="static/images/landingp3.jpg" class="d-block w-100" alt="Movie Image3" style="width: 1200px; height: 480px;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  </body>
</html>