<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers Details</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <title>Edit Customers</title>
</head>

<body>
    <div class="container d-flex justify-content-end mt-5"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <h1>Edit Customers</h1>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="personal-card text-left">
                    <div class="modal-body mt-2">
                        <form action="{{ url_for('manage_customers.customers_update') }}" method="post">
                            <div class="mb-3">
                                <label for="customerid" class="form-label" style="color:grey">Edit ID:</label>
                                <input type="text" class="form-control mb-2" id="customerid" disabled
                                    value="{{ customers_informations[0].customerid }}">
                                <input hidden type="number" name="customerid" class="form-control"
                                    value="{{ customers_informations[0].customerid }}" readonly>

                                <label for="firstname" class="form-label" style="color:grey">Edit firstname:</label>
                                <input type="text" class="form-control" id="firstname"
                                    value="{{ customers_informations[0].firstname }}" name="firstname">

                                <label for="lastname" class="form-label" style="color:grey">Edit lastname:</label>
                                <input type="text" class="form-control" id="lastname"
                                    value="{{ customers_informations[0].lastname }}" name="lastname">

                                <label for="email" class="form-label" style="color:grey">Edit email:</label>
                                <input type="eamil" class="form-control mb-2" id="email" disabled
                                    value="{{ customers_informations[0].email  }}">
                                <input hidden type="email" name="email" class="form-control"
                                    value="{{ customers_informations[0].email  }}" readonly>


                                <label for="phone" class="form-label" style="color:grey">Edit phone:</label>
                                <input type="phone" class="form-control" id="phone"
                                    value="{{ customers_informations[0].phone }}" name="phone">
                        </form>
                        <div class="modal-footer">
                            <a role="button" class="btn btn-success mx-2"
                                href="{{ url_for('manage_customers.manage_customer') }}">Back</a>
                            <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-dark">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--css part -->
        <style>
            body {
                background-color: #ddd;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .personal-card {
                background-color: #f8f9fa;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                position: relative;
            }

            .personal-card {
                background-color: #f8f9fa;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                position: relative;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('.selectpicker').selectpicker();

                $('#starrings').change(function () {
                    $('#hidden_starrings').val($('#starrings').val());
                });

                $('#multiple_select_form').on('submit', function (event) {
                    event.preventDefault();
                    if ($('#starrings').val() != '') {
                        var form_data = $(this).serialize();
                        $.ajax({
                            url: "/update/customers",
                            method: "POST",
                            data: form_data,
                            success: function (data) {
                                //console.log(data);
                                $('#hidden_starrings').val('');
                                $('.selectpicker').selectpicker('val', '');
                                alert(data);
                            }
                        })
                    }
                    else {
                        alert("Please select framework");
                        return false;
                    }
                });
            });
        </script>
</body>

</html>