{% extends "base.html" %}
{% block title %}Giftcard Payment{% endblock %}

{% block content %}

    <!----extension-->
    <div class="container d-flex justify-content-between mt-5 mb-3">
    <div class="card" style="width: 20rem; background-color: rgb(61, 61, 61); color:white;" >
        <img src="{{ giftcard['image'] }}" class="card-img-top" alt="Gift image" style="max-width: 100%; height: auto;">
        <div class="card-body container d-flex justify-content-between align-items-end">
          <div class="mx-2">
          <h5 class="card-title">{{ giftcard['giftcard_name'] }}</h5>
          </div>
          </div>
        </div>
        <div>
            <div style="color:rgb(0, 0, 0); font-family: Impact;">
                <!----jinja change name-->
                <h1>{{ giftcard['giftcard_name'] | upper }}</h1>
              </div>
              <div  class="mx-2">
                <div>
                    <h5>Amount: {{ amount }}  Quantity: {{ quantity }}  </h5>
                </div>
                   <h2 class="text-secondary" >Total: ${{ total }}</h2>
              </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-end">
        <a type="submit" class="btn btn-outline-dark btn-light position-relative mx-3 text-decoration-none text-dark fs-5 fw-bold" href="{{ request.referrer }}">
            <i class="bi bi-arrow-left-circle-fill"></i> Back Shopping</a>
    </div>
    </div>

    <div class="container d-flex mb-4 mt-4" style="border-top: 1px solid gray;"></div> 

    <form action="{{ url_for('giftcards.giftcard_payment_update') }}" method="post">
    <div class="container d-flex justify-content-center">
        <input hidden name="amount" value="{{ amount }}">
        <input hidden name="quantity" value="{{ quantity }}">
        <input hidden name="giftcard_type_id" value="{{ giftcard_type_id }}">
        <input hidden name="total" value="{{ total }}">

            <div class="col-md-6">  
              
              <span class="fs-5">Payment Method</span>
              <div class="card">
      
                <div class="accordion" id="accordionExample">
                  
                  <div class="card">
                    <div class="card-header p-0" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <div class="d-flex align-items-center justify-content-between">
                            <span>Paypal</span>
                            <img src="{{ url_for('static', filename='images/paypal.png') }}" width="30">
                          </div>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <input type="text" class="form-control" placeholder="Paypal email">
                      </div>
                    </div>
                  </div>
      
                  <div class="card">
                    <div class="card-header p-0">
                      <h2 class="mb-0">
                        <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <div class="d-flex align-items-center justify-content-between">
      
                            <span>Credit card</span>
                            <div class="icons">
                              <img src="{{ url_for('static', filename='images/visa.png') }}" width="30">
                              <img src="{{ url_for('static', filename='images/mastercard.png') }}" width="30">
                            </div>
                            
                          </div>
                        </button>
                      </h2>
                    </div>
          
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body payment-card-body">
                        
                        <span class="font-weight-normal card-text">Card Number</span>
                        <div class="input">
      
                          <i class="fa fa-credit-card"></i>
                          <input type="text" id="phone" class="form-control" placeholder="0000 0000 0000 0000" required pattern="^(?:\d[ ]*?){13,16}$" title="13 to 16-digit card number">
                          
                        </div> 
      
                        <div class="row mt-3 mb-3">
      
                          <div class="col-md-6">
      
                            <span class="font-weight-normal card-text">Expiry Date</span>
                            <div class="input">
      
                              <i class="fa fa-calendar"></i>
                              <input type="month" class="form-control" placeholder="MM" required min="{{ currentmonth }}">
                              
                            </div> 
                            
                          </div>
      
      
                          <div class="col-md-6">
      
                            <span class="font-weight-normal card-text">CVC/CVV</span>
                            <div class="input">
      
                              <i class="fa fa-lock"></i>
                              <input type="text" class="form-control" placeholder="000" required pattern="^\d{3}$" title="3-digit code">
                              
                            </div> 
                            
                          </div>
      
                        </div>
      
                        <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
                       
                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
      
            </div>
    </div>

    <div class="container d-flex justify-content-center">
        <button type="submit" class="btn btn-dark position-relative mx-2 mt-2 text-decoration-none text-white fs-5 fw-bold">
            Payment</button>
    </div>
</form>
  
    <div class="container d-flex mb-2 mt-4" style="border-top: 1px solid gray;"></div>
    <div class="container d-flex justify-content-center">
        GiftCard@Payment
    </div> 

    <script>
      document.getElementById('phone').addEventListener("keyup", function(){
        txt=this.value;
        if (txt.length==4 || txt.length==9 || txt.length==14)
          this.value=this.value+" ";
        
      });
    </script>

{% endblock %}