{% extends "base.html" %}
{% block title %}Buy Giftcard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/log_style.css') }}" />
{% endblock %}
{% block content %}

{% if 'loggedin' in session %}
  {% if session['role'] == 'customer' %}
  <form action="{{ url_for('giftcards.giftcard_payment') }}" method="post">
  {% endif %}
{% else %}
<form action="{{ url_for('giftcards.giftcard_checklogin') }}" method="post">
{% endif %}
<div class="container d-flex justify-content-between mt-5 mb-3">
    
    <div class="card" style="width: 20rem; background-color: rgb(61, 61, 61); color:white;" >
        <img src="{{ giftcard['image'] }}" class="card-img-top" alt="Gift image" style="max-width: 100%; height: auto;">
        <div class="card-body container d-flex justify-content-between align-items-end">
          <div class="mx-2">
          <h5 class="card-title">{{ giftcard['giftcard_name'] }}</h5>
          </div>
          </div>
        </div>
        <div style="color:rgb(0, 0, 0); font-family: Impact;">
            <!----jinja change name-->
            <h1>{{ giftcard['giftcard_name'] | upper }}</h1>
          </div>
          <input hidden value="{{ giftcard['giftcard_type_id'] }}" name="giftcard_type_id">
          <div  class="col-md-2 mx-2">
            Amount:
             <select id="amountSelect" class="form-select mb-4" aria-label="Default select example" onchange="calculateTotal()" required name="amountSelect">
                 <option value="20">$20</option>
                 <option value="30">$30</option>
                 <option value="50">$50</option>
                 <option value="80">$80</option>
                 <option value="100">$100</option>
                 <option value="125">$125</option>
                 <option value="150">$150</option>
                 <option value="200">$200</option>
                 <option value="250">$250</option>
               </select>
               Quantity:
               <select id="quantitySelect" class="form-select mb-4" aria-label="Default select example" onchange="calculateTotal()" required name="quantitySelect">
                    <option disabled selected value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
               <h3 class="text-secondary" >Total:$<span id="totalAmount">0</span></h3>
            </div>
        </div>
    </div>


    <div class="container d-flex mb-4" style="border-top: 1px solid gray;"></div>

       <!----jinja---->
    <div class="container d-flex justify-content-end">
        <a href="{{ url_for('giftcards.giftcard_home') }}" type="button" class="btn btn-outline-dark btn-light position-relative mx-3 text-decoration-none text-dark fs-5 fw-bold">
            <i class="bi bi-arrow-left-circle-fill"></i> Back Shopping</a>
        {% if 'loggedin' in session %}
            {% if session['role'] == 'customer' %}
        <button type="submit" class="btn btn-dark position-relative mx-2 text-decoration-none text-white fs-5 fw-bold" id="btn" disabled>
            Continue</button>
            {% endif %}
        {% else %}
        <a type="button" class="btn btn-dark position-relative mx-2 fs-5 fw-bold" style="font-size:13px;" href="{{ url_for('giftcards.giftcard_checklogin') }}">Login to Continue</a>
        {% endif %}
    </div>

</div>
{% if 'loggedin' in session %}
  {% if session['role'] == 'customer' %}
</form>
  {% endif %}
{% else %}
</form>
{% endif %}

<!-- <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal" style="color:grey; font-weight: bold;">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div class="modal-body mt-2">
        <form action="{{ url_for('customer_login.customer_login_verify') }}" method="post">
            <div class="mb-3">
              <div class="login">
                <div class="container d-flex justify-content-center">
                <input name="giftcard_url" hidden>
                  <p class="title">Customer Log In</p>
                  <label for='Username/Email'>Username/Email:</label>
                  <input placeholder="Username/Email" required name="username"/>
                  <label for='password'>Password:</label>
                  <input placeholder="Password" type="password" required name="password"/>
                  <button class="loader">Sign in</button>
                  <p class="text">Don't have an account?</p>
                  <a style="font-size: inherit;color:rgb(11, 108, 182)" href="{{ url_for('registration.register') }}">Register Here</a>
                </div>
      </div>
    </form>
</div> -->

<script>
        function calculateTotal() {
        
        var selectedAmount = document.getElementById("amountSelect").value;
        var selectedQuantity = document.getElementById("quantitySelect").value;

        
        var total = selectedAmount * selectedQuantity;

        document.getElementById("totalAmount").innerText = total;
    }
</script>
<script>
 
 let button = document.getElementById("btn")
let input = document.getElementById("quantitySelect")
input.addEventListener("input", function(e) {
	if(input.value == 0) {
  	button.disabled = true
  } else {
  	button.disabled = false
  }
})
    

</script>
{% endblock %}