{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block content %}
  
{% block head %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    overflow: auto;
    background-color: black;
  }

  .profile-picture {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
  }
  .rating {
        display: inline-block;
    min-width: 30px;
    height: 30px;
    border: 1px solid white;
    font-size: 18px;
    margin: 3px;
    text-align: center;
    line-height: 30px;
    padding: 0px 5px;
    vertical-align: bottom;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none !important;
    box-sizing: content-box !important;
    margin-bottom: 0.5em;
      }
</style>
{% endblock %}
    <!---jinja extension(base navbar)---> 
    <div class="container d-flex justify-content-end mt-5" style="color:white; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      <h1>MAGIC MOVIES</h1>
    </div>
    <div class="container d-flex flex-column justify-content-center">
      <ul class="nav nav-underline mt-3 mb-5">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home.movies') }}" style="color:white">Showing Now</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('coming_soon.home_comingsoon') }}" style="color:white">Coming Soon</a>
            </li>
      
      <div class="container d-flex text-center">
        
      </ul>
        

  <!---delet layout-->   
  {% for movie in movies %}
  <div class="container d-flex flex-column justify-content-center">
    <div class="card mb-4" style="max-width: 1000px; background-color: transparent;">
        <div class="row g-0">
            <div class="col-md-3">
                <a href="/details/movie?movieid={{ movie['movieid'] }}"><img src="{{ movie['image_url'] }}" class="img-fluid rounded-start" alt="Movie1" style="width: 180px; height:auto"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body bg-transparent text-white">
                    <h5 class="card-title"><span style="font-weight: bold;">{{ movie['title'] }}</span></h5>
                    <div class="mb-2 rating" style="background-color:{{ movie['color'] }};"><p style="font-weight: bold; font-size: medium; color:black; margin: 0; text-align: center">{{ movie['rating_code'] }}</p></div>
                    <span style="font-weight: bold; font-size: small; color:gray">{{ movie['runtime'] }}m | {{ movie['genre_name'] }}</span>
                    <p><span>Release date: </span>{{ movie['release_date'].strftime('%d/%m/%Y') }}</p>
                    <p class="card-text mb-5" style="font-weight: 50;"><span style="font-weight: bold; font-size: 25px;">"</span>{{ movie['descriptions'] }}<span style="font-weight: bold; font-size: 25px;">"</span></p>
                    <p class="card-text mb-5" style="font-weight: 50;">
                      <b>Starring:</b>
                      {{ movie['starring'] }}
                  </p>


                    <div class="d-flex">
                      <!-- <button type="submit" class="btn btn-outline-light btn-light btn-dark mx-2">3:00PM</button>
                      <button type="submit" class="btn btn-outline-light btn-light btn-dark mx-2">5:15PM</button> -->
                      <button type="submit" class="btn btn-outline-light btn-light btn-dark"><a href="/details/movie?movieid={{ movie['movieid'] }}" style="text-decoration: none; color: inherit;">Book Now</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container d-flex mb-4" style="border-top: 1px solid gray;"></div>
  {% endfor %}

    
  {% endblock %}