{% extends "navdash_admin.html" %}
{% block title %}Cinema Name{% endblock %}
{% block content %}

<div class="container d-flex justify-content-end mt-5" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <h1>MOVIE GENRE</h1>
  </div>
  <div class="container d-flex">
    <div class="input-group mb-3">
        <label for="allCinemas"></label>
        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control border-secondary" placeholder="Search Cinema Name">
      <div>
        <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>
        <button type="submit" class="btn btn-dark"><a href="#" class="text-decoration-none text-white"style="font-size: 13px;" onclick="ClearFields();">Cancel</a></button>
        <button type="submit" class="btn btn-outline-dark mx-2" href="#" data-bs-toggle="modal" data-bs-target="#changeCinemanameModal" style="font-size:13px;">Add Cinema</button>  
    </div>
</div>
</div>
<div class="modal fade" id="changeCinemanameModal" tabindex="-1" aria-labelledby="changeCinemanameModal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="changeCinemanameModal" style="color:grey; font-weight: bold;">Add Cinema</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body mt-2">
    <form action="{{ url_for('manage_settings.setting_cinema_names_add') }}" method="post">
        <div class="form-group">
          <label for="Type" class="form-label" style="color:grey">Cinema:</label>
          <input type="text" class="form-control" id="cinema_name" name="cinema_name" required maxlength="20" pattern="^[a-zA-Z]{1,20}$" title="Only letters are allowed. 20 letters maximum">
    <div class="modal-footer container d-flex justify-content-between">           
          <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-dark">Save Changes</button>
    </div>
  </form>
  </div>
</div>
</div>
</div>
</div>

<div class="container d-flex">
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="table-responsive">
        <table class="table align-middle table-bordered" id="myTable">
        <thead class="table-dark text-light">
        <th>Cinema ID</th>
        <th>Cinema Name</th>
        <th>Edit</th>
        <th>Delete</th>
        
        </thead>
        <tbody>
        {% for c in cinemas %}
        <tr>
          <td >{{ c['cinemaid'] }}</td>
          <td >{{ c['name'] }}</td>
 
          <td> <div><a type="button" class="btn btn-danger mt-2 text-decoration-none text-white" href="{{ url_for('manage_settings.setting_cinema_name_edit', cinemaid=c['cinemaid'] ) }}" ><i class="bi bi-pencil-square"></i>Edit</i></a></div>
            <td>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ c['cinemaid'] }}">
                Delete
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop{{ c['cinemaid'] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Cinema Name</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Do you want to Delete? <span style="color: blue;">Cinema #{{ c['cinemaid'] }} - {{ c['name'] }}</span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a type="button" class="btn btn-warning" href="{{ url_for('manage_settings.setting_cinema_name_delete', cinemaid=c['cinemaid'] ) }}" >Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              </td>
          </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
      td1 = tr[i].getElementsByTagName("td")[1];


      if (td1 ) {
          txtValue1 = td1.textContent || td1.innerText;


          if (txtValue1.toUpperCase().indexOf(filter) > -1 
          ){
              tr[i].style.display = "";
          } else {
              tr[i].style.display = "none";
          }
      }
  }
  }
  </script>

<script>
function ClearFields() {

  document.getElementById("myInput").value = "";
  var table = document.getElementById("myTable");
  var tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    tr[i].style.display = "";
  }
}
</script>

{% endblock %}