<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    
</head>
<body>
     <div>
        <button type="submit" class="btn" id="download" onclick="seatprint()">Download PDF</button>
        <select class="select" id="selectseat" onchange="changeSeat()">
            {% for s in seats %}
            <option value="{{ s['seat_number'] }}">Download Ticket - {{ s['seat_number'] }}</option>
            {% endfor %}
        </select>
     </div>
    <div class="cardWrap" id="printcontent">
        <div class="card cardLeft">
          <h1>MOVIE <span>MAGIC</span></h1>
          <div class="title">
            <h4>{{ sessioninfo['title'] }}</h4>
            <span style="font-size:small;"><strong>Cinema: {{ sessioninfo['name'] }}</strong></span>
          </div>
          <div class="seat">
            <h4>{{ sessioninfo['session_date'].strftime('%d/%m') }}</h4>
            <span>date</span>
          </div>
          <div class="time">
            <h4>{{ sessioninfo['sessiontime'] }}</h4>
            <span>time</span>
          </div>
          
        </div>
        <div class="card cardRight">
          <div class="eye"></div>
          <div class="number">
            <h4 id="seatnum">{{ seats[0]['seat_number'] }}</h4>
            <span>seat</span>
          </div>
          <div class="barcode"><img src="{{ url_for('static', filename='images/barcode.PNG') }}" style="width: 80px;"></div>
        </div>
      
      </div>
<script>
  function changeSeat() {
  // let seatnum = document.getElementById("seatnum").innerHTML;
  let selectseat = document.getElementById("selectseat").value;
  document.getElementById("seatnum").innerHTML = selectseat
  console.log(selectseat)
}
</script>
<script>
//   window.onload = function () {
//     let seat = document.getElementById("seatnum").innerHTML;
//     let pdfname = "Seat # " + seat + ".pdf"
//     document.getElementById("download")
//         .addEventListener("click", () => {
//             const invoice = this.document.getElementById("printcontent");
//             console.log(invoice);
//             console.log(window);
//             var opt = {
//                 margin: 1,
//                 filename: pdfname,
//                 image: { type: 'jpeg', quality: 0.98 },
//                 html2canvas: { scale: 2, useCORS: true },
//                 jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
//             };
//             html2pdf().from(invoice).set(opt).save();
//         })
// }
</script>
<script>
  function seatprint() {
    let seat = document.getElementById("seatnum").innerHTML;
    let pdfname = "Seat # " + seat + ".pdf";
    const invoice = this.document.getElementById("printcontent");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename: pdfname,
                image: { type: 'png', quality: 0.98 },
                html2canvas: { scale: 2, useCORS: true },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
  }
</script>
</body>
</html>
