<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket</title>
    <link rel="stylesheet" href="css/ticket.css">
</head>
<body>
     <div>
        <button type="submit" class="btn">Print</button>
        <select class="select">
            <option value="" disabled selected hidden>Select tickets</option>
            <option value="">xxx</option>
        </select>
     </div>
    <div class="cardWrap">
        <div class="card cardLeft">
          <h1>MAGIC <span>MOVIE</span></h1>
          <div class="title">
            <h4>How I met your Mother</h4>
            <span>movie name</span>
          </div>
          <div class="seat">
            <h4>01/02</h4>
            <span>date</span>
          </div>
          <div class="time">
            <h4>12:00</h4>
            <span>time</span>
          </div>
          
        </div>
        <div class="card cardRight">
          <div class="eye"></div>
          <div class="number">
            <h4>156</h4>
            <span>seat</span>
          </div>
          <div class="barcode">
               <img src="https://appsbarcode.com/images/code-39.jpg" style="width: 80px;">
          </div>
        </div>
      
      </div>

</body>
</html>
